	<div class="ui two column stackable centered grid">
		<div class="column">
			<h1>Edit Status
				<a class="ui animated right floated secondary basic button" href="@Url.Action("Index", "Status")">
					<div class="visible content">Back</div>
					<div class="hidden content">
						<i class="left arrow icon"></i>
					</div>
				</a>
			</h1>
			<form class="ui form" method="post" action="@Url.Action("Edit", "Status")">
                <div class="field">
                    <label>Name</label>
                    <input type="text" required name="Name" maxlength="100" placeholder="Status">
                </div>
                <button class="ui animated positive basic button" type="submit">
					<div class="visible content">Save Changes</div>
					<div class="hidden content">
						<i class="save icon"></i>
					</div>
				</button>
			</form>
		</div>
	</div>

