<div class="ui two column stackable centered grid">
    <div class="column">
        <h1>Campus</h1>
        <!--
    <div class="ui positive message">
        <div class="header">
            <?=$message["title"]?>
        </div>
        <?=$message["content"]?>
    </div>
    -->
        <div id="name-form" data-source="campus"></div>
    </div>
</div>
@section Scripts{
    <script src="~/js/react/vendor.bundle.js" asp-append-version="true"></script>
    <script src="~/js/react/name_form.bundle.js" asp-append-version="true"></script>
}