<div class="row">
    <div class="pr-3">
        <h1>Project Tracker</h1>
    </div>
    <div class="pt-3 pr-3 pl-3">
        <h5>Welcome</h5>
    </div>
    <div class="pt-3 pl-3">
        <h5><a href="@Url.Action("Bye", "Login")">Logout</a></h5>
    </div>
</div>
