@{
    ViewBag.menu = "Stages";
}
<div class="ui two column stackable centered grid">
    <div class="column">
        <h1>Stages</h1>
        <div id="stage-form"></div>
    </div>
</div>
@section Scripts{
    <script src="~/js/react/vendor.bundle.js" asp-append-version="true"></script>
    <script src="~/js/react/stage_form.bundle.js" asp-append-version="true"></script>
}
