@{
    ViewBag.menu = "Status";
}
<div class="ui two column stackable centered grid">
    <div class="column">
        <h1>Status</h1>
        <div id="name-form" data-source="status"></div>
    </div>
</div>
@section Scripts{
    <script src="~/js/react/vendor.bundle.js" asp-append-version="true"></script>
    <script src="~/js/react/name_form.bundle.js" asp-append-version="true"></script>
}
