html {
    font-size: 14px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);;
    background-color: #DADADA;
}

body > .grid {
    height: 100%;
}

.login .column {
    max-width: 450px;
}

.ui.menu{
    margin: 10px 50px;
    margin-bottom: 50px;
}

.inline-form{
    display: inline;
}
